ThE_VeGeTa_RoBoT/config.py
ThE_VeGeTa_RoBoT/*.session
ThE_VeGeTa_RoBoT/*.session-journal
ThE_VeGeTa_RoBoT/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ThE_VeGeTa_RoBoT/modules/helper_funcs/temp.txt
ThE_VeGeTa_RoBoT/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
VeGeTa.session-journal
updates.txt
*.exe
